* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "halyard-display", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(13, 13, 17);
  /* transition: all 1s ease-in-out; */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar {
  background-color: transparent;
  display: flex;
  position: fixed;
  padding: 20px 7% 20px 7%;
  align-items: center;
  width: 100%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  #name-link {
    color: rgb(240, 242, 248);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "adelle-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
  }
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 30px;
  list-style: none;
  column-gap: 40px;
  font-weight: 200;
  li {
    font-size: 18px;
  }
}

.navbar-item {
  color: rgb(240, 242, 248);
  text-decoration: none;
}

.navbar-item:hover {
  transition: 0.2s;
  color: rgb(240, 48, 99);
  cursor: pointer;
}

#home {
  background-color: rgb(13, 13, 17);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#welcome {
  background-image: url("img/witch_room.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#textrow {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40vh;
}

#reel {
  height: auto;
}

#projects {
  height: auto;
  padding-top: 20px;
}

#about-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  min-width: 400px;
  max-width: 900px;
  height: auto;
  gap: 50px;
  align-items: center;
  padding-top: 10vh;
}

#about {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 20vh;
}

#reel-container {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: rgb(240, 242, 248);
  font-size: 5rem;
  font-family: "adelle-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.25em;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h2 {
  color: rgb(228, 221, 225);
  letter-spacing: 0.05em;
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  /* margin-left: 200px; */
}

h3 {
  margin-top: 5px;
  text-align: center;
  color: rgb(240, 242, 248);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.05em;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h4 {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  color: rgb(240, 242, 248);
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}

h5 {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: left;
  color: rgb(240, 48, 99);
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}

p {
  color: rgb(228, 221, 225);
  text-align: left;
  font-size: 18px;
  line-height: 2rem;
  letter-spacing: 0.04em;
  margin: 10px 0 10px 0;
}

ul {
  margin: 20px 5vw;
}

li {
  color: rgb(228, 221, 225);
  text-align: left;
  font-size: 22px;
  line-height: 2rem;
  letter-spacing: 0.04em;
  margin: 10px 0;
}

a {
  color: rgb(240, 48, 99);
}

#about-me-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 5px;
}

section {
  padding-bottom: 20px;
  height: auto;
}

footer {
  padding-bottom: 20px;
  position: static;
  p {
    text-align: center;
    margin: 0;
    font-size: 16px;
    line-height: normal;
  }
}

/* Selected works section */
.works-container {
  display: flex;
  width: 100%;
  padding: 2vh 10vw 5vh 10vw;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.works-item {
  width: 500px;
  height: 400px;
  /* background-color: antiquewhite; */
  border-radius: 20px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}

.works-item:hover {
  transform: rotate(-3deg);
  cursor: pointer;
  #in-progress {
    visibility: visible;
    transition: 0.3s;
  }
}

.works-img {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* .category {
  width: max-content;
  height: 30px;
  border-radius: 15px;
  background-color: aliceblue;
} */

.works-text {
  font-size: 1.3em;
  color: rgb(240, 48, 99);
  letter-spacing: 0.04em;
  margin-top: 5px;
  line-height: normal;
}

/* Case study stuff */
.case-study-section {
  padding-top: 100px;
  height: auto;
  h2 {
    font-size: 54px;
  }
}

.showoff-container {
  /* width: 100%; */
  height: auto;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
.case-study-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.case-study-specifications {
  /* background-color: rgb(38, 33, 40); */
  height: auto;
  display: block;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 50px;
  p {
    font-size: 22px;
  }
}

.border-div {
  margin: 20px 20vw;
  p {
    font-size: 22px;
  }
  h4 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 40px;
  }
}

.sketches-container {
  display: flex;
  margin-left: -20vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

#sketches1 {
  display: flex;
  flex-direction: row;
}
#sketches2 {
  display: flex;
  flex-direction: column;
}

.sketch-img {
  max-height: 700px;
}

.images-container {
  margin-top: 20px;
  width: 100%;
  /* margin: 0 auto; */
  /* gap: 2%; */
  justify-content: center;
}

.websites-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  gap: 10px;

  img {
    width: 600px;
  }
}

@media screen and (max-width: 900px) {
  #about-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

#under-construction {
  text-align: center;
  color: rgb(240, 48, 99);
  padding-bottom: 10px;
}

#in-progress {
  position: absolute;
  font-size: 25px;
  margin-left: 150px;
  margin-top: 120px;
  visibility: hidden;
}

iframe {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
}
