body {
  margin: 0;
  font-size: 16px;
  font-family: "adelle-sans-ultra-thin", sans-serif;
  font-weight: 200;
  font-style: normal;
  transition: all 1s ease-in-out;
}

#home {
  background-color: white;
}

#welcome {
  background-image: url("img/witch_room.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: row;

  height: 100vh;
  width: 100%;
}

#textrow {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#reel {
  background-color: white;
  height: 90vh;
}

h1 {
  margin: 0;
  text-align: center;
  color: rgb(240, 242, 248);
  font-size: 5rem;
  font-family: "adelle-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.25em;
}

h2 {
  margin-top: 5px;
  text-align: center;
  color: rgb(240, 242, 248);
  font-size: 1.2rem;
}
